    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    .manager {
        text-align: center;
        background-image: linear-gradient(#00008059, #030303d1), url(https://cdn.pixabay.com/photo/2020/01/13/14/44/eet-4762568_1280.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    .manager h1{
        color: #fff;
        font-size: 50px;
        padding-top: 20px;
    }
    .manager p {
        color: #fff;
        font-size: 25px;
        padding-bottom: 20px;
    }
    #wrapper {
        height: 450px;
        width: 500px;
        background-color: #1a3c398a;
        color: #fff;
        text-align: center;
        margin: auto;
        padding-top: 10px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px grey;
    }
    #table-box table {
        border: 3px solid #fff;
        border-collapse: collapse;
        margin: auto;
    }
    .tr, td, th {
        border: 2px solid #fff;
        padding: 5px 10px;
        font-size: 20px;
    }
    #wrapper button {
        color: #fff;
        font-size: 18px;
        background-color: transparent;
        border: solid #fff;
        text-decoration: none;
        margin: 1rem;
        padding: 5px 10px;
        border-radius: 10px;
    }
    input {
        font-size: 20px;
        border-radius: 10px;
        padding: 5px  15px;
        border: none;
    }
    #wrapper h3 {
        font-size: 25px;
        padding: 10px;
    }
    h2 {
        padding-bottom: 20px;
    }